#page-login strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
}

#page-login .form {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    padding-top: 6.4rem;
}

#page-login .form .title {
    font: 700 1.6rem Poppins;
    font-size: 4rem;
    margin-bottom: 2rem;
}

#page-login .form .input-block {
    position: relative;
}

#page-login .form .input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0;
    border-radius: 0;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Poppins;
}

#page-login .form .input-block + .input-block {
    margin-top: 0;
}

#page-login .form .input-1 input {
    margin-top: 2.4rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#page-login .form .input-2 input {
    margin-top: 0;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

#page-login .form .input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#page-login .form .error-message {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#page-login .form button {
    width: 100%;
    height: 5.6rem;
    margin-top: 3.4rem;
    border-radius: 0;
    border-radius: 0.8rem;
    background: var(--color-secundary);
    color: var(--color-line-in-white);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Poppins;
    cursor: pointer;
}

#page-login .form button:hover {
    background: var(--color-secundary-dark);
}

#page-login .form .buttons-extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    
}

#page-login .form .buttons-extras .checkbox-block {
    display: flex;
    align-self: center;
}

#page-login .form .buttons-extras .checkbox-block input {
    border: 1px solid black;
    border-radius: 2px;
    width: 2rem;
    height: 2rem;
}

#page-login .form .buttons-extras .checkbox-block p {
    margin-left: 0.8rem;
    align-items: center;
}

#page-login .form .buttons-extras p, #page-login .form .buttons-extras a {
    text-decoration: none;
    font: 1.4rem Poppins;
    font-size: 1.4rem;
    color: '#DCDCE5';
}

#page-login .form .buttons-extras a {
    display: flex;
    align-self: center;
    margin-top: 4rem;
}

#page-login .form footer {
    margin-top: 6rem;
    display: block;
    
}

#page-login .form footer .register {
    font: 1.6rem Poppins;
}

#page-login .form footer .register p {
    color: var(--color-text-complement);
    display: flex;
    justify-content: center;
}

#page-login .form footer .register a {
    text-decoration: none;
    align-self: center;
    display: flex;
    justify-self: center;
    justify-content: center;
}

#page-login .form footer .free {
    color: var(--color-text-complement);
    font: 1.4rem Poppins;
    font-size: 1.4rem;
    margin-top: 4.8rem;
    align-self: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (min-width: 700px) {

    #page-login {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #page-login .form {
        display: block;
        align-self: center;
        margin: 0 12rem;
    }

    #page-login .form .buttons-extras {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;
    }

    #page-login .form .buttons-extras a {
        margin-top: 1rem;
    }

    #page-login .banner .logo-container img {
        margin: 0;
        width: auto;
    }

    #page-login .form footer {
        display: flex;
        justify-content: space-between;
    }

    #page-login .form footer .register .free {
        margin-top: 0;
        display: block;
    }

    #page-login .form footer .register a {
        margin-top: 0;
        display: block;
        justify-content: start;
    }

    #page-login .form footer .free {
        margin-top: 1.2rem;
    }
}



