.success {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    background-image: url(../../assets/images/success-background.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success img {
    margin-bottom: 2rem;
}

.success h1 {
    font-family: Archivo;
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #FFF;
}

.success P {
    color: var(--color-text-in-primary) !important;
    font-size: 1.8rem;
    font-family: Poppins;
}

.success button {
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 5rem;
}

.success button:hover {
    background: var(--color-secundary-dark);
}